# Ignore the environment
env/
**/.vscode/

# Ignore dependencies
**/__pycache__/
**/node_modules/

# Generated client, should only be updated when publishing development to main
xrf_explorer/client/dist/
xrf_explorer/client/docs/

# Data files
**/*.tif
**/*.tiff
**/*.jpg
**/*.png
**/*.raw
**/*.rpl
**/*.csv
**/*.dms