# Ignore the environment
env/
**/.vscode/

# Ignore dependencies
**/__pycache__/
**/node_modules/
**/package-lock.json

# Generated client, should only be updated when publishing development to main
xrf_explorer/client/dist/

# Data files
**/*.tif
**/*.tiff
**/*.jpg
**/*.png
**/*.raw
**/*.rpl
**/*.csv
**/*.dms