# Ignore all built documentation elements in this directory
*
# Except the following folders
!_static
!_templates

# Except the following files
!.gitignore
!conf.py
!index.rst
!components.rst
!windows.rst
!bar_chart.rst
!spectra_chart.rst
!spectra.png
!bar.png
!menu.rst
!viewer.rst
!dim_reduction.rst