{
  "root": true,
  "parser": "vue-eslint-parser",
  "parserOptions": {
    "parser": "@typescript-eslint/parser",
    "sourceType": "module",
  },
  "extends": [
    "@vue/typescript/recommended",
    "plugin:vue/vue3-strongly-recommended",
    "plugin:jsdoc/recommended-typescript",
    "prettier",
  ],
  "plugins": ["@typescript-eslint", "prettier", "jsdoc"],
  "rules": {
    "prettier/prettier": "warn",
    "vue/no-reserved-props": "off",
    "vue/no-v-model-argument": "off",
    "vue/multi-word-component-names": "off",
    "vue/require-default-prop": "off",
    "vue/script-setup-uses-vars": "error",
    "vue/no-v-for-template-key-on-child": "off",
    "@typescript-eslint/no-unused-vars": [
      "error",
      {
        "argsIgnorePattern": "^_",
        "varsIgnorePattern": "^_",
        "caughtErrorsIgnorePattern": "^_",
      },
    ],
    "vue/require-prop-comment": [
      "warn",
      {
        "type": "JSDoc",
      },
    ],
    "jsdoc/require-jsdoc": [
      "warn",
      {
        "publicOnly": {
          "esm": true,
          "cjs": true,
          "window": true,
        },
        "require": {
          "ArrowFunctionExpression": true,
          "ClassDeclaration": true,
          "ClassExpression": true,
          "FunctionDeclaration": true,
          "FunctionExpression": true,
          "MethodDefinition": true,
        },
        "contexts": ["TSInterfaceDeclaration", "TSTypeAliasDeclaration", "TSEnumDeclaration", "TSPropertySignature"],
      },
    ],
  },
}
