# Generated dependencies
node_modules/
package-lock.json

# Generated client, should only be updated when publishing development to main
dist/

# Files for testing
**/*.tif
**/*.tiff
**/*.dds
**/*.jpg
**/*.png